@import 'variables';
@import 'animations';


// animation classes
// .high-scores-enter {
//   height: 1px !important;
//   transition: 0.5s;
// }
// .high-scores-enter-active {
//   height: 28px !important;
// }
// .high-scores-leave {
//   height: 28px !important;
//   transition: 0.5s;
// }
// .high-scores-leave-active {
//   height: 1px !important;
// }


.high-scores-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  outline: 1px solid rgba(0,0,0,0.25);

  .high-scores-container {
    position: absolute;
    height: 500px;
    width: 700px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
  }

  h2 {
    font-size: 60px;
    font-weight: 700;
    color: $color-red;
    text-align: center;
  }

  .high-scores-table {
    position: relative;
    width: 75%;
    margin: 1rem auto;
    animation-name: fade-in-drop;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }

  .high-score-row {
    position: relative;
    padding: 0 1rem;
    line-height: 46px;
    height: 46px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    color: #FFF;

    &.new-score {
      background: $color-highscore;

      span.score {
        float: right;
      }
    }

    input[type="text"] {
      position: absolute;
      top: 3px;
      height: 40px;
      width: 100%;
      background: none;
      border: 0;
      border-bottom: 1px solid #CCC;
      font-size: 30px;
      color: #FFF;
      font-family: 'Lato', sans-serif !important; 


    }
    

    span {
      display: block;
      position: relative;
      float: left;

      &.rank {
        width: 15%;
        font-size: 22px;
        font-weight: 100;
      }
      &.name {
        width: 60%;
        font-size: 30px;

      }
      &.score {
        width: 25%;
        font-size: 26px;
        text-align: right;
      }
    }
    .submit-score {
      position: absolute;
      height: 100%;
      width: 100px;
      right: -100px;
    }

  }
}