@import 'variables';
@import 'animations';


.how-to-play-enter {
  opacity: 0;
  transition: 0.1s;
}
.how-to-play-enter-active {
  opacity: 1;
}
.how-to-play-leave {
  opacity: 1;
  transition: 0.5s;
}
.how-to-play-leave-active {
  opacity: 0;
}

.how-to-play {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-htp-bg;

  .how-to-play-container {
    position: absolute;
    width: 100%;
    max-width: 900px;
    top: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    h2 {
      font-size: 60px;
      font-weight: 700;
      color: $color-htp-heading;
      margin-bottom: 2.5rem;
    }

    h5 {
      font-size: 22px;
      color: $color-orange;
      margin-bottom: 2rem;
    }

    p {
      color: #EEE;
      margin-bottom: 1.35rem;
      font-size: 16px;
      line-height: 1.3em;
    }

    .demo-left {
      position: relative;
      width: 55%;
      float: left;

      .demo-grid {
        overflow: auto;
        width: 454px;
        margin: 0 auto;
      }

      // Styles for demo grid tiles found in tile.scss
    }

    
    .demo-right {
      position: relative;
      width: 45%;
      float: left;
      height: 400px;
      padding: 0 10px;

      .demo-rules {
        padding-top: 1rem;
      }

      .red-text { color: lighten($color-red, 15%); }

      .demo-spacebar-filler {
        display: inline-block;
        width: 120px;
      }

      .demo-spacebar {
        position: absolute;
        left: 92px;
        top: 68px;
        padding: 6px 30px;
        background: #EEE;
        color: #333;
        font-family: monospace;
        border-left:2px solid #AAA;
        border-right: 2px solid #AAA;
        border-bottom: 6px solid #AAA;
        border-radius: 4px;
        animation-name: demo-spacebar;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }

      .demo-start {
        margin-top: 4rem;
        font-weight: bold;
        color: lighten($color-grass, 15%);
        font-size: 20px;
      }
    }
  }
}