@import 'variables';
@import 'animations';

.tile-column {
  position: relative;
  float: left;
  width: 73px;
  height: 100%;

  &:nth-child(even) {
    margin-top: $cell-height/2 + 2;
  }
}

.tile {
  position: relative;
  width: $cell-width;
  height: $cell-height;
  line-height: $cell-height;
  margin-left: $cell-width / 2;
  margin-bottom: $cell-spacing;
  text-align: center;
  background: $color-tile;

  &:hover {
    cursor: pointer;
    background: $color-tile-hover;
    &:before { border-right: ($cell-width / 2) solid $color-tile-hover; }
    &:after  { border-left:  ($cell-width / 2) solid $color-tile-hover; }
  }

  &:before {
    content: " ";
    position: absolute;
    width: 0; 
    height: 0;
    left: -$cell-width / 2;
    top: 0;
    border-top: ($cell-height/2) solid transparent;
    border-bottom: ($cell-height/2) solid transparent;
    border-right: ($cell-width / 2) solid $color-tile;
  }

  &:after {
    content: "";
    position: absolute;
    width: 0;
    right: -$cell-width / 2;
    top: 0;
    border-left: ($cell-width / 2) solid $color-tile;
    border-top: ($cell-height/2) solid transparent;
    border-bottom: ($cell-height/2) solid transparent;
  }

  &.active {
    background: $color-active-tile;
    font-size: 1.25em;
    animation-name: click-letter;
    animation-duration: 0.2s;

    animation-fill-mode: none;

    &:before {
      border-right: ($cell-width / 2) solid $color-active-tile;
    }
    &:after {
      border-left: ($cell-width / 2) solid $color-active-tile;
    }
  }

  &.deactive {
    animation-name: invalid-selection;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
    animation-fill-mode: none;
    
    &:before, &:after {
      animation-duration: 0.1s;
      animation-timing-function: ease-in;
      animation-fill-mode: none;
    }

    &:before {
      animation-name: invalid-selection-before;      
    }
    &:after {
      animation-name: invalid-selection-after;      
    }
  }

  &.accepted {
    animation-name: valid-selection;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
    animation-fill-mode: none;
    
    &:before, &:after {
      animation-duration: 0.1s;
      animation-timing-function: ease-in;
      animation-fill-mode: none;
    }

    &:before {
      animation-name: valid-selection-before;      
    }
    &:after {
      animation-name: valid-selection-after;      
    }
  }  

  // special tiles
  &.special-wildcard {
    background: $color-special-wc;
    &:before { border-right: ($cell-width / 2) solid $color-special-wc; }
    &:after  { border-left: ($cell-width / 2) solid $color-special-wc; }

    &.active {
      background: lighten($color-active-tile, 6%);

      &:before {
        border-right: ($cell-width / 2) solid lighten($color-active-tile, 6%);
      }
      &:after {
        border-left: ($cell-width / 2) solid lighten($color-active-tile, 6%);
      }
    }

  }








  &.demo-disabled {
    background: #AAA;
    color: #888;
    cursor: default !important;

    &:before { border-right: ($cell-width / 2) solid #AAA; }
    &:after  { border-left:  ($cell-width / 2) solid #AAA; }
  }
  &.demo-active {
    animation-name: demo-click-letter;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    cursor: default !important;

    &:before, &:after {
      animation-duration: 0.5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }
    &:before { animation-name: demo-click-letter-before; }
    &:after {  animation-name: demo-click-letter-after;  }    

    &.first {
      animation-delay: 0s;
      &:before, &:after { animation-delay: 0s; }
    }
    &.second {
      animation-delay: 0.5s;
      &:before, &:after { animation-delay: 0.5s; }
    }
    &.third {
      animation-delay: 1s;
      &:before, &:after { animation-delay: 1s; }
    }
    &.fourth {
      animation-delay: 1.5s;
      &:before, &:after { animation-delay: 1.5s; }
    }
    &.fifth {
      animation-delay: 2s;
      &:before, &:after { animation-delay: 2s; }
    }

  }
}